* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Wrapper of web page */

#wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #1F1F1F;
}

/* leftBar starts From here */

#leftBar {
    width: 20%;
    padding: 2%;
    background: #080808;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#logo {
    width: 6.14781rem;
    height: 1rem;
    flex-shrink: 0;
    margin-left: 15px;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: #EAEAEA;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 1rem;
    gap: 1rem;
}

input {
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #1F1F1F;
    background: #000;
    color: #5C5C5C;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    height: 2rem;
    padding: 1rem;
}

#list1 {
    width: 100%;
}

#Home,
#Library,
#Friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    padding: 1rem;
    height: 2.5rem;
    width: 100%;
}

#Home:hover,
#Library:hover,
#Friends:hover {
    cursor: pointer;
    border-radius: 0.5rem;
    background: #1F1F1F;

}

#options svg {
    fill: #EAEAEA;
}


hr {
    width: 90%;
}

#list2Heading {
    color: #9A9A9A;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.08125rem;
    text-transform: uppercase;
}

#list2 {
    width: 100%;
}

#Action,
#Detectives,
#Fantasy,
#Space,
#Blockbasters,
#Shitty,
#top100 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    padding: 1rem;
    height: 2.5rem;
    width: 100%;
    
}

#Action:hover,
#Detectives:hover,
#Fantasy:hover,
#Space:hover,
#Blockbasters:hover,
#Shitty:hover,
#top100:hover {
    cursor: pointer;
    border-radius: 0.5rem;
    background: #1F1F1F;
    position: relative;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes run{
    0% {
        left: 10%;
    }
    50%{
        left: 5%;
    }
    100%{
        left: 10%;
    }
}


#createBtn {
    width: 100%;
    display: flex;
    padding: 0.625rem 1.25rem 0.625rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.5rem;
    background: #F33F3F;
    border: 0;
    outline: 0;
    color: #080808;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

#createBtn svg {
    fill: #080808;
    ;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

#createBtn:hover {
    cursor: pointer;
    background: #fd4343;
}

#profile {
    position: relative;
    /* margin-top: 14rem; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    flex-grow: 1;
    top: 70%;
}

#profileImage {
    cursor: pointer;
}

#profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 0.5rem;
    cursor: pointer;
}

#profileInfo h5 {
    color: #EAEAEA;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}

#profileInfo p {
    color: #EAEAEA;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

#svgImg svg {
    
    bottom: 1rem;
    position: absolute;
    fill: #EAEAEA;
    left: 100%;
    cursor: pointer;
}


/* Main Section Starts From Here */

main {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-top: 2%;
    width: 73%;
}

/* First Section starts from here */

#mainStartingHeading {
    color: #9A9A9A;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08125rem;
    text-transform: uppercase;
}

#recentVideos {
    padding: 1rem;
    margin-top: 2%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

/* Second Section starts from here */

#content {
    margin-top: 3%;
    display: inline-flex;
    align-items: flex-start;
    justify-content: start;
    gap: 1rem;
}

#movieNightHeading {
    color: #9A9A9A;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.08125rem;
    text-transform: uppercase;
}

#eventCreation {
    color: #F33F3F;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
}

#eventCreation svg {
    fill: #F33F3F;
}

/* Third section starts from here */

#movieNight {
    /* border: solid; */
    margin-top: 2%;
    width: 100%;
    height: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    margin-bottom: 2%;
}

/* Recent Video Movie Section Starts from here */

#recentVideos1,
#recentVideos2,
#recentVideos3,
#recentVideos4,
#recentVideos5,
#recentVideos6 {
    border: solid;
    width: 100%;
    height: 100%;
}

/* Hover on Recent Vide */
#recentVideos1:hover,
#recentVideos2:hover,
#recentVideos3:hover,
#recentVideos4:hover,
#recentVideos5:hover,
#recentVideos6:hover {
    
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 0 5px #000;
}

/* Movie Night Profile Section Starts from here */

#movieNightDiv1,
#movieNightDiv2,
#movieNightDiv3 {
    border: solid;
    width: 100%;
    height: 100%;
}

/* Hover on Movie Night */

#movieNightDiv1:hover,
#movieNightDiv2:hover,
#movieNightDiv3:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 0 5px #000;
}